@media only screen and (min-width: 992px) and (max-width: 1199px) {
    nav.navbar.bootsnav ul.nav > li > a{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 30px;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
    nav.navbar.bootsnav .navbar-header{
        width: 90%;
   }
    .navbar-light .navbar-toggler{
        color: #fff;
        border-radius: 5px;
        margin-right: 7px;
        padding-top: 6px;
        float: right;
        margin-top: 10px;
   }
    nav.navbar.bootsnav ul.nav > li > a{
        padding: 5px 15px;
   }
    nav.navbar.bootsnav .navbar-nav{
        padding: 0px;
        margin: 0px;
   }
    .custom-select-box{
        display: none;
   }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu{
        position: initial !important;
        top: 0px;
   }
    .col-menu .title{
        font-size: 16px;
   }
    .contact-info-left{
        margin-bottom: 30px;
   }
}
/* mobile */
@media (max-width: 767px) {
    nav.navbar.bootsnav .navbar-header{
        width: 90%;
   }
    .navbar-light .navbar-toggler{
        color: #fff;
        border-radius: 5px;
        padding-top: 6px;
        float: right;
        margin-top: 10px;
   }
    nav.navbar.bootsnav ul.nav > li > a{
        padding: 5px 15px;
   }
    nav.navbar.bootsnav .navbar-nav{
        padding: 0px;
        margin: 0px;
   }
    .title-blog h3{
        font-size: 16px;
   }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu{
        position: initial !important;
        top: 0px;
   }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:hover{
        color: #FFC0CB;
   }
    .hover-team{
        margin-bottom: 30px;
   }
}
@media only screen and (min-width: 280px) and (max-width: 599px) {
    .navbar-light .navbar-toggler{
        color: #fff;
        border-radius: 5px;
        margin-right: 7px;
        padding-top: 6px;
        font-size: 30px;

   }
    nav.navbar.bootsnav ul.nav > li > a{
        padding: 5px 15px;
   }
    nav.navbar.bootsnav .navbar-nav{
        padding: 0px;
        margin: 0px;
   }
    .title-blog h3{
        font-size: 16px;
   }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu{
        position: initial !important;
        top: 0px;
   }
    .col-menu .title{
        font-size: 16px;
   }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a:hover{
        color: #FFC0CB;
   }
    .hover-team{
        margin-bottom: 30px;
   }
}
.navbar-light .navbar-toggler:hover{
    background-color: #FFC0CB;
}